<div class="container content">
    <div class="page-header">
        <div class="container">
            <h2>Tienda de Instrumentos Yamaha</h2>
            <div class="navLinks">
                <a [routerLink]="['/home']">Inicio</a>
                <a [routerLink]="['/detalle']">Detalle</a>
            </div>
        </div>
    </div>

<!--<app-list-instrumentos></app-list-instrumentos>-->
<router-outlet></router-outlet>

</div>
<hr class="mb-5">
Fecha: {{time | async}}