<div class="container	content">
	<div class="row">
		<div class="col-md-6	offset-md-3">
			<span class="anchor" id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div class="card	card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Nuevo Instrumentooo</h3>
				</div>
				<div class="card-body">
					<app-form-descripcion-instrumento (onItemAdded)="agregado($event)">
					</app-form-descripcion-instrumento>

				</div>
			</div>
		</div>
	</div>
	<hr class="mb-5">

	<div class="row">
		<app-descripcion-instrumento 
			*ngFor="let i of instrumentoApiClient.getAll(); let indice = index"
			[descripcion]="i" 
			[idx]="indice+1" 
			(presionado)="elegido($event)">
		</app-descripcion-instrumento>
	</div>

	<hr class="mb-5">

	<div class="row">
		<h5>Actividad;</h5>
		<ul>
			<li *ngFor="let u of updates">{{u}}</li>
		</ul>

	</div>
</div>