<div	class="card-content">
	<div	class="card-img">
		<img	src="https://placeimg.com/380/230/nature"	alt="">
		<span><h4>{{indice}}</h4></span>
	</div>
	<div	class="card-desc">
		<h3>{{descripcion.nombre}}</h3>
		<p>Contenido:</p>
		<ul>
			<li *ngFor="let x of descripcion.contenido">
				<span [ngSwitch]="x">
					<i *ngSwitchCase="'Kit de limpieza'" style="color:blue">{{x}}</i>
					<i *ngSwitchDefault>{{x}}</i>
				</span>
			</li>
		</ul>
		
		<a	href="#" class="btn-card" (click)="ir()">¡Lo quiero!</a>
		<!--<span [style.display]="descripcion.isSelected()? '' : 'none' ">Seleccionado</span> -->
		<span *ngIf="descripcion.isSelected()">Añadido a carrito.</span>
		<a [routerLink]="['/detalle']">Ver detalle</a>
	</div>
</div>